POSTGRES_SERVER=mm_db
POSTGRES_PORT=5432
POSTGRES_DB=mm_db
POSTGRES_USER=mm_user
POSTGRES_PASSWORD=mm_password

# BACKEND_CORS_ORIGINS=http://mm_frontend:8080
FRONTEND_HOST=http://localhost:8000

SIGNALBOT_MCP_URL=http://mm_backend:8000/mcp
SIGNALBOT_PHONE_NUMBER=+491234567890
SIGNAL_CLI_REST_API_URL=signal-cli-rest:8080
OPENAI_API_KEY=aoiuh43gouöihnwreouhnwerhöoih